<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= number_to_currency(food.price) %></td>
  <td><%= button_to "Delete", food, method: :delete, class: 'delete_btn' %></td>
</tr>
