/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-tab {
  margin-left: 10px;
  border: solid 1px #20538d;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #4479ba;
  color: #fff;
  padding: 8px 12px;
}

.btn-action {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
}

div .btn-action {
  float: right;
}

.field .notice {
  font-style: italic;
  color: rgb(26, 232, 26);
}
.field .alert {
  font-style: italic;
  color: red;
}

.btn-delete {
  background-color: #f00e0e;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.field-link {
  display: flex;
}

.field-link a {
  margin-left: 10px;
  border-radius: 4px;
  border: solid 1px #20538d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #4479ba;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
}
